<template>
    <div class="chat__messages">
        Messages
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>